<!DOCTYPE html>
<html Lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content= "width=device-width, initial-scale=1.0">
   <title>personal website</title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <style>
   
      body{
                font-family: sans-serif;
                height: 100vh;
                background-color: rgba(212, 104, 255, 0.692);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding:auto;
      }
      </style>
</head>

<body>
    <nav>
          
         
         <a href="contact.html">Contact</a>
         <a href="about.html">About me</a>
        
    </nav>
    
    <hr  />
    
    <article>
        <h1>About Me</h1>
        <p>
           saya adalah programmer yang berkuliah di Universitas Muhammadiah Riau saat ini sedang belajar HTML.
        </p>
        <p>
           saya memang masih baru dalam programmer, karena itu saya tidak akan berhenti belajar.
        </p>
        <p>
           saya ingin menguasai bahasa HTML, CSS, dan Javascript. simak video lengkap tentang saya
        </p>
            <br>
            <h1>TONTON YA JANGAN ENGGA!!!</h1>
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=playlist=tgbNymZ7vqY&loop=controls=0">
            </iframe>
           </p>
          </article>
         
         <hr>
         <footer style="text-align: center;">
           <p> copyright & Margo Budi Santoso; 2022 pendidikan informatika.</p>
          </footer>
      </body>
      </html>    
